html, body {
    height: 675px;
	margin: 0;
	padding: 0;
    overflow: hidden;
    width: 1366px;
}

body {
	background: #def url("../img/NK1.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

p {
	margin: 0;
}

#spacing-box-version-1 {
    height: 55px;
    margin-top: 51px;
    width: 1366px;
}

#spacing-box-version-2 {
    height: 42px;
    margin-top: 67px;
}

#spacing-box-version-3 {
    height: 134px;
    margin-top: 12px;
}

#button-version-1, 
#button2-version-1, 
#button-version-2, 
#button2-version-2, 
#button-version-3, 
#button2-version-3 {
    opacity: 0.5;
    cursor: pointer;
}

#button-version-1 {
    height: 65px;
    margin-left: 197px;
    padding-top: 14px;
    transform: skew(6deg) rotate(6deg);
    width: 51px;
}

#button2-version-1 {
    height: 64px;
    margin: 4px 0 0 4px;
    transform: skew(6deg) rotate(7deg);
    width: 47px;
}

#button-version-2 {
    height: 42px;
    margin-left: 642px;
    width: 31px;
}

#button2-version-2 {
    height: 42px;
    margin-left: 4.8px;
    width: 32px;
}

#button-version-3 {
    height: 117px;
    margin: 24px 0 0 1045px;
    transform: skew(-9deg) rotate(-8deg);
    width: 82px;
}

#button2-version-3 {
    height: 122px;
    margin-left: 6px;
    padding: 36px 0 9px 0;
    transform: skew(-10deg) rotate(-9deg);
    width: 87px;
}

#date_time_1 {
    display: inline-block;
    color: #fff;
    font-size: 3em;
    font-family: 'Nanum Brush Script', sans-serif;
    margin-top: 40px;
    opacity: 0.9;
    text-align: center;
    text-shadow: 2px 2px #f8a;
    width: 476px;
}

#date_time_2 {
	margin-top: 67px;
    color: #fff;
    font-size: 3em;
	font-family: 'Nanum Brush Script', sans-serif;
    opacity: 0.9;
    text-align: center;
    text-shadow: 2px 2px #f8a;
}

#date_time_3 {
    color: #fff;
    font-size: 4em;
    font-family: 'Nanum Brush Script', sans-serif;
    margin-top: 35px;
    margin-right: 95px;
    opacity: 0.9;
    float: right;
    text-align: center;
    text-shadow: 2px 2px #f8a;
    width: 415px;
}

@media (max-width: 1310px) {
    html, body {
        overflow-x: auto; 
    }
}

@media (max-height: 345px) {
    html, body {
        overflow-y: auto; 
    }
}
